.content-wrapper {
  display: flex;
  flex-direction: colomn;
  justify-content: center;
  align-items: center;

  border-left: none;
  padding: 15px;
  width: 100%;
}

.content-wrapper input[type="text"] {
  height: 16px;
  padding: 15px;
  width: 80%;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #eeeeee;
}

.guid-input-wrapper {
  display: flex;
}

.guid-input-wrapper .copy-button {
  padding: 14px 10px 14px 10px;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  margin-left: 5px;
}
